/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@font-face {
  font-family: "quantum";
  src: url("../font/Quantum.otf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
:root {
  --index: calc(1vw + 1vh);
  --depth: 4000px; /*Profundidad total del codigo*/
  /* --transition: .75s cubic-bezier(.075, .5, 0, 1);*/ /*Original*/
  --transition: 1.5s cubic-bezier(0.075, 0.5, 0, 1); /*Animaci贸n para hacer desvanecerse cuando llegan hacia delante*/
  --morado: #e74384;
  --morado-transparente: #e74385ab;
  --blanco: #ffffff;
  --negro: #000000;
  --neon-color2: #e74384;

  /* Clips */
  --forma-basica: polygon(0 0, 100% 0, 100% 0, 100% 95%, 95% 100%, 0 100%, 0 100%, 0 0);
  --forma-alta: polygon(10% 0, 8% 2%, 0 2%, 0 14%, 0 95%, 5% 100%, 94% 100%, 100% 94%, 100% 48%, 98% 47%, 98% 0);
  --forma-alta-alternativa: polygon(2% 0, 2% 18%, 0 20%, 0 73%, 0 95%, 5% 100%, 94% 100%, 100% 94%, 100% 48%, 100% 41%, 100% 0);
  

}
body {
  height: var(--depth);
  background-color: var(--negro);
  color: var(--blanco);
  /* font-size: calc(var(--index) * .8); */
  line-height: 1.75;
  /* padding: 0 5% ; */
  /* font-weight: 300; */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  /*Barra lateral*/
  display: none; /* Safari and Chrome */
}
h1 {
  font-family: "quantum", sans-serif;
  margin-top: calc(var(--index) * 10);
  margin-right: calc(var(--index) * 10);
  text-align: center;
  font-size: calc(var(--index) * 4);

  animation: text-flicker 5s linear infinite;
}
h1 #offset {
  font-family: "quantum", sans-serif;
  animation: letter-flicker 2s linear infinite;
}
@keyframes text-flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0px 0px 20px var(--morado);
  }
  2% {
    opacity: 1;
    text-shadow: 0px 0px 20px var(--morado);
  }
  8% {
    opacity: 0.1;
    text-shadow: 0px 0px 20px var(--morado);
  }
  9% {
    opacity: 1;
    text-shadow: 0px 0px 20px var(--morado);
  }
  12% {
    opacity: 0.1;
    text-shadow: 0px 0px var(--morado);
  }
  20% {
    opacity: 1;
    text-shadow: 0px 0px 20px var(--morado);
  }
  25% {
    opacity: 0.3;
    text-shadow: 0px 0px 20px var(--morado);
  }
  30% {
    opacity: 1;
    text-shadow: 0px 0px 20px var(--morado);
  }
  70% {
    opacity: 0.7;
    text-shadow: 0px 0px 20px var(--morado);
  }
  72% {
    opacity: 0.2;
    text-shadow: 0px 0px 20px var(--morado);
  }
  77% {
    opacity: 0.9;
    text-shadow: 0px 0px 20px var(--morado);
  }
  100% {
    opacity: 0.9;
    text-shadow: 0px 0px 20px var(--morado);
  }
}
/* @keyframes border-flicker {
	0% {
	  opacity: 0.1;
	  -webkit-box-shadow: 0px 0px 78px 4px var(--neon-color2);
	  -moz-box-shadow: 0px 0px 78px 4px var(--neon-color2);
	  box-shadow: 0px 0px 78px 4px var(--neon-color2);
	}
	2% {
	  opacity: 1;
	  -webkit-box-shadow: 0px 0px 78px 4px var(--neon-color2);
	  -moz-box-shadow: 0px 0px 78px 4px var(--neon-color2);
	  box-shadow: 0px 0px 78px 4px var(--neon-color2);
	}
	4% {
	  opacity: 0.1;
	  -webkit-box-shadow: 0px 0px 78px 4px var(--neon-color2);
	  -moz-box-shadow: 0px 0px 78px 4px var(--neon-color2);
	  box-shadow: 0px 0px 78px 4px var(--neon-color2);
	}
	8% {
	  opacity: 1;
	  -webkit-box-shadow: 0px 0px 78px 4px var(--neon-color2);
	  -moz-box-shadow: 0px 0px 78px 4px var(--neon-color2);
	  box-shadow: 0px 0px 78px 4px var(--neon-color2);
	}
	70% {
	  opacity: 0.7;
	  -webkit-box-shadow: 0px 0px 78px 4px var(--neon-color2);
	  -moz-box-shadow: 0px 0px 78px 4px var(--neon-color2);
	  box-shadow: 0px 0px 78px 4px var(--neon-color2);
	}
	100% {
	  opacity: 1;
	  -webkit-box-shadow: 0px 0px 78px 4px var(--neon-color2);
	  -moz-box-shadow: 0px 0px 78px 4px var(--neon-color2);
	  box-shadow: 0px 0px 78px 4px var(--neon-color2);
	}
  } */
@keyframes letter-flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0px 0px 20px var(--morado);
  }
  2% {
    opacity: 0.1;
    text-shadow: 0px 0px 20px var(--morado);
  }
  4% {
    opacity: 1;
    text-shadow: 0px 0px 20px var(--morado);
  }
  19% {
    opacity: 1;
    text-shadow: 0px 0px 20px var(--morado);
  }
  21% {
    opacity: 0.1;
    text-shadow: 0px 0px 20px var(--morado);
  }
  23% {
    opacity: 1;
    text-shadow: 0px 0px 20px var(--morado);
  }
  80% {
    opacity: 1;
    text-shadow: 0px 0px 20px var(--morado);
  }
  83% {
    opacity: 0.4;
    text-shadow: 0px 0px 20px var(--morado);
  }
  87% {
    opacity: 1;
    text-shadow: 0px 0px 20px var(--morado);
  }
}
h2,
h3,
h4,
h5 {
  font-weight: 100;
  text-transform: uppercase;
  /* width: min-content; */
  width: auto;
  line-height: 1;
}
.web_contenido {
  transform-style: preserve-3d;
  position: fixed;
  height: 100vh;
  width: 100vw;
  perspective: 2000px; /* perspective: 1400px; */ /*Original*/
}
.frame {
  width: 100vw; /* width: 100%; */
  height: 100vh; /* height: 100%; */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition), opacity 1s ease; /* transition: var(--transition), opacity .75s ease; */
  will-change: transform;
  transform-style: preserve-3d;
}
.frame .frame__content .frame-media-netwave {
  background-image: url(../images/WEB.png);
    @media (max-width: 768px) {
      background-image: url(../images/WEB-movil.png);
    }
  position: relative;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.prueba_clip-path {
  background-color: #8c52ff;
  /* background: radial-gradient(at top, var(--morado), transparent 55%) 50% 0 / 160% 65% no-repeat; */
}
.prueba_clip-path div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 400px;
  background-color: #000000;
  border-right: 6px solid var(--morado);
  clip-path: var(--forma-alta);
}
.prueba_clip-path img {
   width: 80px;
}
.frame3 {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23e74384' fill-opacity='0.16' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
}
.frame4 {
  background-color: #f152ff;
}
/* Bot贸n de sonido */ /*Botones por delante*/
.soundbutton {
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  cursor: pointer;
  width: 24px;
  transition: 0.25s ease;
}
.soundbutton.paused {
  opacity: 0.5;
}

/* MEDIA QUERY */
@media (max-width: 480px) and (orientation: portrait) {
  /* Reglas CSS para pantallas de m贸vil */
  h1{
    margin: 0;
    padding-top: 230px;
  }
}
@media (max-width: 480px) {
  /* Reglas CSS para pantallas de m贸vil tumbado */
}
@media (min-width: 481px) and (max-width: 1024px) {
  /* Reglas CSS para pantallas de tablet */
}
@media (min-width: 1025px) {
  /* Reglas CSS para pantallas de ordenador */
}